.center {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.inline {
  display: inline;
}

.margin {
  margin: 1rem auto;
}

.padded {
  padding: 1rem;
}
