.center {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.inline {
    display: inline;
}

.header-logo {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.margin {
    margin: 1rem auto;
}

.padded {
    padding: 1rem;
}

.nav-style {
    background-color: #bfe8f3;
    margin-top: -30px;
}

.landing-body-left {
    background-color: #bfe8f3;
    height: 100vh;
}

.landing-body-right {
    background-color: #ffe0aa;
    height: 100vh;
}

.landing-body-bottom {
    position: fixed;
    bottom: 7%;
    background-color: #f5804e;
    margin: 0 auto;
    display: block;
    height: 150px;
    width: 71.3vw;
    margin-left: 12px;
    margin-right: 1px;
    /* border: 1px solid #ddd; */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.landing-logo {
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 270px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 80px;
}


/* RESPONSIVENESS */

@media (min-width: 985px) {
    .landing-photo {
        position: fixed;
        width: 1125px;
        top: 7%;
        margin-left: -3px;
    }
}

@media (min-width: 400px) and (max-width: 985px) {
    .landing-logo {
        margin-top: 0px;
    }
    .landing-body-left {
        height: 50vh;
    }
    .landing-body-right {
        height: 50vh;
    }
    .landing-body-bottom {
        bottom: 0;
        margin: 0 auto;
        display: block;
        width: 100vw;
    }
    .landing-photo {
        margin-top: 10px;
    }
}


/* BUTTONS */

.glow-on-hover {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    color: #000;
    background: #ffe0aa;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    font-family: "Chivo", sans-serif;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffe0aa;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffe0aa;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.typing {
    display: inline-block;
    position: relative;
    /* left: 50%;
top: 80%; */
    font-family: "Chivo", sans-serif;
    font-size: 25px;
}

.type {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    vertical-align: bottom;
    font-family: "Chivo", sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.type>span {
    display: grid;
    overflow: hidden;
    height: 1.3em;
}

.type span span {
    width: 0%;
    max-width: max-content;
    overflow: hidden;
    height: inherit;
    word-break: break-all;
    animation: c 0.5s infinite steps(4), t 2s linear infinite alternate, m 12s steps(3) infinite;
}

.type span span:before {
    content: " ";
    display: inline-block;
}

@keyframes t {
    90%,
    100% {
        width: 100%;
    }
}

@keyframes c {
    0%,
    100% {
        box-shadow: 5px 0 0 #0000;
    }
    50% {
        box-shadow: 5px 0 0 #f5804e;
    }
}

@keyframes m {
    100% {
        transform: translateY(-300%);
    }
}