#canvas {
    background-color: #ffffff;
}

input {
    margin-right: 5px;
}

#select {
    margin-left: 5px;
}

label {
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-family: 'Shrikhand', cursive;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #F5804E;
}

.logo {
    height: 120px;
    width: 120px;
}


/* .header {
    background-color: #FFE0AA;
    width: 100vw;
} */

.canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: #FFE0AA; */
}

.shape-cursor {
    cursor: crosshair;
}

.popover {
    /* position: absolute; */
    width: 20px;
}

.fill-popover {
    position: absolute;
    top: 170px;
    left: 270px;
    width: 600px;
}

.sticky-note {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 150px;
    top: 280px;
    left: 280px;
}

textarea {
    font-family: 'Chivo', sans-serif;
    border: 1px solid #F5804E;
    min-width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 10px;
    outline: none;
}

.add-note {
    width: 100%;
    background-color: #FFE0AA;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    font-family: 'Chivo', sans-serif;
}

.add-note:hover {
    background-color: #F5804E;
    color: white;
}

.note {
    position: absolute;
    cursor: move;
    /* background-color: #F5804E; */
    background-image: url("./images/post-it.png");
    background-size: cover;
    top: 100px;
    left: 300px;
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 20px;
}

.text {
    font-family: 'Chivo', sans-serif;
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    /* overflow-y: scroll; */
}

.close-button {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    transition: transform .3s ease;
    cursor: pointer;
}

.close-button:hover {
    transform: scale(1.6)
}

.toolbar-buttons {
    margin-top: 10px;
    /* margin-left: 45px; */
    padding: 20px;
    /* padding-left: 25px; */
    height: 540px;
    width: 250px;
    position: fixed;
    top: 220px;
}

.toolbar-buttons-design {
    background-color: #F5804E;
    color: white;
    font-size: 10px;
    margin: 3px;
    padding: 5px;
    font-family: 'Chivo', sans-serif;
}

.toolbar-container {
    background-color: rgba(255, 224, 170, 0.5);
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    padding-left: 25px;
    height: 540px;
    width: 300px;
    position: fixed;
    top: 270px;
}

.toolbar-button {
    border: none;
    outline: none;
    background: none;
    margin-left: 10px;
    transition: transform .3s ease;
}

.toolbar-button-square {
    border: none;
    outline: none;
    background: none;
    margin-top: 25px;
    margin-left: 5px;
    transition: transform .3s ease;
}

.toolbar-icon:hover {
    transform: scale(1.6);
}

.toolbar-icon {
    height: 30px;
    outline: none;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 15px;
    transition: transform .3s ease;
}

.toolbar-icon-square {
    height: 30px;
    outline: none;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 15px;
    transition: transform .3s ease;
}

.toolbar-icon-text {
    height: 33px;
    outline: none;
    margin-left: 9px;
    margin-right: 15px;
    transition: transform .3s ease;
}

.toolbar-icon-square:hover {
    transform: scale(1.6);
}

.toolbar-icon-text:hover {
    transform: scale(1.6);
}

.white-background {
    background-color: white;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    outline: none;
    border: 2px solid #F5804E;
    transition: transform .3s ease;
}

.white-background:hover {
    transform: scale(1.6);
}

.lined-background {
    background-image: url("./images/lined.jpg");
    background-size: 40%;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin-left: 32px;
    outline: none;
    border: 2px solid #F5804E;
    transition: transform .3s ease;
}

.lined-background:hover {
    transform: scale(1.6);
}

.grid-background {
    background-image: url("./images/grid.png");
    background-size: 70%;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin-left: 32px;
    outline: none;
    border: 2px solid #F5804E;
    transition: transform .3s ease;
}

#colour-button {
    background-color: black;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    outline: none;
    border: none;
}

#fill-colour-button {
    background-color: white;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    outline: none;
    border: none;
}

.grid-background:hover {
    transform: scale(1.6);
}

.toolbar-icon-width {
    height: 25px;
    outline: none;
    margin-left: 35px;
    margin-top: 20px;
    transition: transform .3s ease;
}

.toolbar-icon-minus {
    height: 25px;
    outline: none;
    margin-left: 20px;
    margin-top: 20px;
    transition: transform .3s ease;
}

.toolbar-icon-undo {
    height: 25px;
    outline: none;
    margin-left: 35px;
    margin-top: -20px;
    transition: transform .3s ease;
}

.toolbar-icon-undo:hover {
    transform: scale(1.6);
}

.toolbar-icon-redo {
    height: 25px;
    outline: none;
    margin-left: 25px;
    margin-top: -20px;
    transition: transform .3s ease;
}

.toolbar-icon-redo:hover {
    transform: scale(1.6);
}

.toolbar-icon-dl {
    height: 25px;
    outline: none;
    margin-left: 35px;
    margin-top: 15px;
    transition: transform .3s ease;
}

.toolbar-icon-dl:hover {
    transform: scale(1.6);
}

.toolbar-icon-clear {
    height: 25px;
    outline: none;
    margin-left: 25px;
    margin-top: 15px;
    transition: transform .3s ease;
}

.toolbar-icon-clear:hover {
    transform: scale(1.6);
}

.uploaded-image {
    position: fixed;
    top: 500px;
}

.upload-image {
    font-size: 13px;
    margin: 0 auto;
}

p {
    text-align: center;
    margin: 10px;
    margin-top: 15px;
    font-size: 15px;
}