#canvas {
    border: 10px solid black;
    border-radius: 20px;
}

.canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.line-drawing {
    position: absolute;
    left: 5%;
    top: 5%;
}

.freehand-drawing {
    position: absolute;
    left: 7.5%;
    top: 5%;
}

.square-drawing {
    position: absolute;
    left: 10.75%;
    top: 5%;
}

.circle-drawing {
    position: absolute;
    left: 14.5%;
    top: 5%;
}

.colour-button {
    position: absolute;
    left: 17.5%;
    top: 5%;
}

.popover {
    position: absolute;
    top: 100px;
    left: 80px;
}

.colour-picker {}