#canvas {
    background-color: #ffffff;
}

.lined-background {
    background-image: url("./images/lined.jpg");
}

.grid-background {
    background-image: url('./images/grid.jpg');
}

input {
    margin-right: 5px;
}

#select {
    margin-left: 5px;
}

label {
    margin-right: 10px;
}

h1 {
    /* text-align: center; */
    font-family: 'Shrikhand', cursive;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #F5804E;
}

.logo {
    height: 120px;
    width: 120px;
}


/* .header {
    background-color: #FFE0AA;
    width: 100vw;
} */

.canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 5px solid #FFE0AA;
    background-color: #FFE0AA;
}

.arrow-cursor {}

.shape-cursor {}

.freehand-cursor {}

.popover {
    position: absolute;
    top: 150px;
    left: 270px;
    width: 600px;
}


/* .cover {
    width: 600px;
} */

.fill-popover {
    position: absolute;
    top: 170px;
    left: 270px;
    width: 600px;
}