h1 {
  font-family: Shrikhand, cursive;
  color: #f5804e;
}

p {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
}
h2 {
  font-family: "Chivo", sans-serif;
  font-weight: 200;
  letter-spacing: 250;
}
