.documentation-nav {
    text-align: center;
}

.documentation-container {
    background-color: #bfe8f3;
    padding: 50px;
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
}

.q-and-a-link {
    display: inline-block;
    padding: 50px;
    background-color: #fff1a0;
    border-radius: 20px;
    margin-top: 50px;
    color: #f5804e;
    margin-right: 5px;
}

.q-and-a-link:hover {
    display: inline-block;
    padding: 50px;
    background-color: #0090c3;
    border-radius: 20px;
    margin-top: 50px;
    color: #bfe8f3;
}